<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.grounded.jwc_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/JWCTheme"
        android:usesCleartextTraffic="true"
        >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/places_api_key"/><!--Get a more secure way of using the keys-->

        <activity android:name=".ui.activities.ProfileActivity"></activity>
        <activity android:name=".ui.activities.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.LoginActivty" />
        <activity android:name=".ui.activities.ReceiptActivity" />
        <activity android:name=".ui.activities.CartActivity" />
        <activity android:name=".ui.activities.MainActivity" />
    </application>

</manifest>